/* Palette URL: http://paletton.com/#uid=73T260knTyAd+NajqEPt-vevfo9 */
.color-map-base { color: #3F52B5 }	/* Main Primary color */
.color-map-lightest { color: #8895DC }
.color-map-lighter { color: #5E6EC7 }
.color-map-darker { color: #2137AA }
.color-map-darkest { color: #132584 }

.color-map-highlight-base { color: #FF8741 }	/* Main Secondary color (1) */
.color-map-highlight-lightest { color: #FFB990 }
.color-map-highlight-lighter { color: #FF9E64 }
.color-map-highlight-darker { color: #F96813 }
.color-map-highlight-darkest { color: #C04A05 }

.color-ui-base { color: #2CAD8D }	/* Main Secondary color (2) */
.color-ui-lightest { color: #7AD8C1 }
.color-ui-lighter { color: #4CC1A4 }
.color-ui-darker { color: #0CA27C }
.color-ui-darkest { color: #037D5F }

.color-ui-hightlight-base { color: #FFC841 }	/* Main Complement color */
.color-ui-hightlight-lightest { color: #FFDF90 }
.color-ui-hightlight-lighter { color: #FFD264 }
.color-ui-hightlight-darker { color: #F9B713 }
.color-ui-hightlight-darkest { color: #C08A05 }

html, body,
#root, .App, main {
  overflow: hidden;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 0.5em;

  z-index: 10;
}


main {
  position: relative;
  height: 100%;

  font-size: 20pt;
}

.toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  user-select: none;
}

.toolbar label {
  border: 2px solid #0CA27C;
  background: #2CAD8D;
  padding: 0.6em;
  margin: 0.6em;

  box-shadow: rgba(0, 0, 0, 0.3) 0 0 1em;
}

.turn-controls {
  position: absolute;
  bottom: 0;
  right: 0;
}


.debug {
  opacity: 0.2;
  display: none;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


svg.grid {
  user-select: none;
}

svg.grid text {
  font-size: 2.5pt;
  fill: black;
  stroke: none;
}
.building:hover,
.track:hover,
.train:hover,
/*.tile:hover,*/
label:hover,
.tile:hover {
  opacity: 0.7;
}

svg#__SVG_SPRITE_NODE__ {
  fill: red;
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

g.grid-positioned { }

.tile {
  fill: #8895DC;
  stroke: #2137AA;
  stroke-width: 0.1pt;
  clip-path: fill-box;

  transition: fill 0.2s;
}

g.tool {
  pointer-events: none;
  opacity: 0.7;
}
g.tool > path {
  fill: none;
  stroke: hsl(79, 20%, 70%);
  stroke-width: 0.2em;
  stroke-linecap: round;
  stroke-linejoin: round;
}

g.tracks {
  pointer-events: none;
}
g.tracks > path {
  fill: none;
  stroke: #FF9E64;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.building {
  fill: #C04A05;
}

.train {
  fill: #C04A05;
}


svg.grid > g > path:not([class]) {
  fill: none;
  stroke: hsl(60, 20%, 70%);
  stroke-width: 1;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

