.App {
  text-align: center;
}

.App header {
  background-color: #222;
  padding: 1em;
  color: white;
}


.debug {
  opacity: 0.2;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


svg {
  user-select: none;
}

g.hexagon-group {
  fill: #3F51B5;
  fill-opacity: 0.6;
}
g.hexagon-group:hover {
  fill-opacity: 1;
}
g.hexagon-group:hover text {
  fill-opacity: 1;
}

g.hexagon-group polygon {
  stroke: #3F51B5;
  stroke-width: 0.2;
  transition: fill-opacity .2s;
}
g.hexagon-group text {
  font-size: 0.2em;
  fill: #000;
  fill-opacity: 0.9;
  transition: fill-opacity .2s;
}
svg path {
  fill: none;
  stroke: hsl(60, 20%, 70%);
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}
